* {
    box-sizing: border-box;
}
body {
    background-color: rgb(220, 228, 235);
}
.s1 {
    width: 22%;
    margin: 10% auto;
    border-radius: 12px;
    background-color: rgb(255, 255, 255); 
    text-align: center;
    padding-bottom: 10px;
}
.s1d1 {
    text-align: center;
    margin-top: 20px;
    border-radius: 100%;
    border-bottom: 3px solid rgb(87, 87, 255);
}
.s1d1 img {
    width: 149.9px;
    height:149.9px;
    border-radius: 100%;
    border: 3px solid white;
}
.au {
    display: flex;
    height: 15vh;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(87, 87, 255);
    gap: 10px;
    border-radius: 12px 12px 0 0;
    margin-bottom: 55px;
}
.aur {
    width: 100%;
}
.s1 h2 {
    font-size: 2em;
    margin-bottom: 2px;
}
.s1 p {
    font-size: 20px;
    margin-top: 0;
}
.i1 {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.i2 {
    width: 20px;
    height: 20px;
}
.s1d2 button {
    margin-right: 10px;
    background-color: rgb(87, 87, 255);
    color: white;
    border-radius: 50px;
    font-size: 20px;
    width: 30%;
    height: 40px;
    border: none;
}
.s1d3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.s1d3 hr {
    height: 10px;
    margin: 0;
}
.s1d3d1 {
    display: flex;
    flex-direction: row;
    margin: 0;*
    padding: 0;
    gap: 3px;
}
.s1d3d2 {
    display: flex;
    flex-direction: row;
     margin: 0;
      padding: 0;
      gap: 3px;
}
.s1d3d3 {
    display: flex;
    flex-direction: row;
    margin: 0;
     padding: 0;
     gap: 3px;
}
.s1d3 p {
    margin: 0;
    padding: 0;
}