* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(-35deg, rgb(168, 107, 217) 15%, rgb(190, 124, 237) 35%, rgb(150, 198, 241) 50%);
     background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
section {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.549);
    border-radius: 5px;
    width: 40%;
    height: 90vh;
    margin: 20px auto;
    padding: 20px;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.dc, .dc-x {
    width: 47%;
}
.input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
h1 {
    font-size: 2rem;
}
label {
    font-size: 1.2rem;
}
form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}
.label {
    font-size: 1.4em;
}
p {
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
button {
    width: 100%;
    background: linear-gradient(-35deg, rgb(143, 124, 158) 15%, rgb(190, 124, 237) 35%, rgb(150, 198, 241) 50%);
    border: none;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
}
hr {
    width: 5%;
    margin-top: 0;
}
header {
    margin-bottom: 30px;
}