* {
    box-sizing: border-box;
}
body {
    background-color: rgb(7, 174, 124);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}
main {
    margin: 0 auto;
    margin-top: 10%;
    height: 500px;
    width: 30%;
    background-color: white;
    text-align: center;
}
h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
    background-color: rgb(3, 151, 106);
    height: 20%;
    padding: 20px;
}
.i1, .i2 {
    display: flex;
    justify-content: left;
    align-items: center;
    align-items: center;
}
input {
    width: 85%;
    height: 50px;
    border: 1px solid rgb(184, 181, 181);
    box-shadow: 1px 1px 5px rgb(184, 181, 181);
    border-radius: 0 5px 5px 0;
}
.img {
    background-color: rgb(3, 151, 106);
    height: 50px;
    width: 10%;
    padding-top: 15px;
    border-radius: 5px 0 0 5px;
}
img {
    width: 20px;
    height: 20px;
}
.forgot {
    text-align: left;
    
}
.forgot a{
    color: rgb(7, 174, 124);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}
.i1, .i2, p{
    margin-left: 20px;
}
button {
    width: 90%;
    height: 55px;
    background-color: rgb(3, 151, 106);
    color: white;
    border: none;
    font-size: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 25px;
}
.derp {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
.derp a{
    color: rgb(7, 174, 124);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}